//fonts
@import "fonts";
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-size: 15px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
